

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden;
    color: black;
    height: 100vh;
    width: 100vw;
} */

.login-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
}
.urgent2Kay{
    margin: 0px;
}
.left-content{
    width: 50%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-box{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    position: relative;
}
.chat-icon{
    position: absolute;
    top: -50px;
    right: 0px;
}
h1{
    margin: 10px;
}
.login-head{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}

input{
    width: 100%;
    height: 50px;
    border-radius:1000px;
    border: 1px solid #ccc;
    padding: 10px;
    
    margin-bottom: 20px;
    -webkit-border-radius:1000px;
    -moz-border-radius:1000px;
    -ms-border-radius:1000px;
    -o-border-radius:1000px;
}
.login-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.log-num{
    position: relative;
    width: 50%;
}
.line{
    position: absolute;
    height: 40px;
    width: 0px;
    border-right: 1px solid #AAAAAB;
    top:0;
    left: 42px;
}
.log-forgot{
    position: relative;
    width: 50%;
}
.forgot{
    position: absolute;
    height: 0px;
    width: 0px;
    top: 11px;
    right: 75px;
    color: #401A6D;

    font-weight: bold;
    
}
.forgot:hover{
    cursor: pointer;
    color: #401A6D;
    text-decoration: underline;
}
.padlock{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    position: absolute;
}
.login-btn{
    width: 50%;
    text-align: center;
    position: relative;
}
.arrow-key{
    position: absolute;
    top: 20px;
    right: 35px;
    height: 12px;
    width: 12px;
    background-color: #401A6D;
}
button{
    width: 100%;
    height: 50px;
    top: 6px;
    border-radius: 58px;
    gap: 19px;
    margin: 0px;

    background-color: #401A6D;
    color: #fff;

    -webkit-border-radius: 58px;
    -moz-border-radius: 58px;
    -ms-border-radius: 58px;
    -o-border-radius: 58px;
}
.No-account{
    font-size: small;
    color:black;
    text-align: end;
    width: 70%;
    margin-top:50px;
}
#sign{
    color: #401A6D;
    
}

.right-content{
    width: 50%;
    height: 100vh;
    background: url(../../../assets/smilingman.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display:flex;
    flex-direction: column;;
    justify-content: center;
    align-items: center;
}

/* .right-image{
  height: 100vh;
  width: 100%;
} */


.image-overlay{
    position:relative;
}


.glassmorphism{
    /*position: absolute;
    top: 18%;
    left: 10%;
    */width: 80%;
    height: 95%;
    padding:40px 20px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border:1px solid hsla(0, 0%, 100%, 0.3);
    box-shadow:0 8px 32px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.upper-content{
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 10px;;
}

a{
    color: white;
}