body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  overflow-y: auto;
}



.signup-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/* Left Pane */
.left-pane {
  flex: 1;
  background: url("./Image/signup.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.overlay {
  background-color: #dad7d736;
  backdrop-filter: blur(10px);
  color: #fff;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 10% auto;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
}
.overlay h2 {
  font-weight: 300;
}
.brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.subtitle {
  font-size: 1rem;
  margin-top: 10px;
}

.small-text {
  font-size: 0.6rem;
  margin-top: 10px;
  color: #ccc;
}

.signin-text {
  margin-top: 80%;
  font-size: 0.9rem;
  font-weight: 100;
}

.link {
 color: rgb(76, 6, 142);
  font-weight: 600;
  cursor: pointer;
}
.link1 {
 
  font-weight: 600;
  cursor: pointer;
    color: rgb(76, 6, 142);
}
.link:hover {
  color: rgb(76, 6, 142);
  font-weight: 800;
  
}
.link1:hover {
  color: black;
  font-weight: 800;
  
}


/* Right Pane */
.right-pane {
  flex: 1;
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 40px;
}

.form-title {
  font-size: 3rem;
  margin-bottom: 10px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="tel"],
.signup-form input[type="password"] {
  padding: 10px 12px;
  font-size: 0.5rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
}

.terms {
  font-size: 0.7rem;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  line-height: 1.4;
}

.signup-button {
  padding: 12px;
  font-size: 0.8rem;
  background-color: #3e0d73;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.signup-button:hover {
  background-color: #4e1d87;
}

.arrow {
  font-size: 1.2rem;
}

.small {
  font-size: 0.875rem;
}

.signin-text2 {
  font-size: 0.8rem;
  font-weight: 300;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.signup-form label {
  font-size: 0.7rem;
  font-weight: 500;
  color: #333;
}

.terms label {
  font-size: 0.5rem;
}

.terms input[type="checkbox"] {
  position: relative;
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
  width: 16px;
  height: 16px;
}
