body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.relationship-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #f3f4f6;
    overflow-x: hidden;
    transition: margin-left 0.3s ease;
}



.rel-body1 {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* max-width: 565px; */
    width: 100%;
}

.rel-btn {
    background-color: #401A6D;
    padding: 1rem;
    width: 338px;
    height: 58px;
    border-radius: 30px;
    color: #FFFFFF;
    border: none;
}

.rel-text {
    font-weight: 700;
    font-size: 19px;
    width: 565px;
    height: 27px;
    color: #4D4A4A;
}